.header {
  padding-top: 45px;
  padding-bottom: 41px;
  margin: 0 auto;
  max-width: 880px;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
}

@media (max-width: 1000px) {
  .header {
    max-width: 58%;
  }
}

@media (max-width: 720px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
    padding-bottom: 38.25px;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
    padding-bottom: 34px;
  }
}