.element__delete {
	background-image: url(../../../images/delete.png);
	background-color: transparent;
	width: 18px;
	height: 19px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 0;
	margin-left: 244px;
	margin-top: 20px;
	transition: 0.2s;
  opacity: 1;
	cursor: pointer;
}

.element__delete:hover {
	opacity: .5;
}